[desktop]
  {% if databases.mysql.host or databases.mariadb.host %}
    [[database]]
      engine=mysql
      host={{ (databases.mysql.host, databases.mariadb.host)|first_host|pick(fqdns) }}
      port=3306
      user=root
      password={{ database_root_password }}
      name=hue
  {% endif %}
