[logging]
    default = FILE:/var/log/krb5/krb5libs.log
    kdc = FILE:/var/log/krb5/krb5kdc.log
    admin_server = FILE:/var/log/krb5/kadmind.log

[libdefaults]
    default_realm = {{realm}}
    dns_lookup_realm = true
    dns_lookup_kdc = true
    ticket_lifetime = 72h
    forwardable = true

    # Workaround for Suse error "Credential cache directory /run/user/%{uid}/krb5cc does not exist while opening default credentials cache"
    default_ccache_name = /tmp/krb5cc_%{uid}

[realms]
    {{realm}} = {
    kdc = {{kerberos_server_host}}
    admin_server = {{kerberos_server_host}}
    default_domain = {{realm}}
    acl_file = /var/lib/kerberos/krb5kdc/kadm5.acl
}

[domain_realm]
    .{{fqdn}} = {{realm}}
    {{fqdn}} = {{realm}}
