#!/bin/sh

# Run from mapr user

kinit -kt /opt/mapr/conf/mapr.keytab {{ mapr_cluster_name_principal }}

maprlogin kerberos
kinit -kt /opt/mapr/conf/mapr.keytab {{ hostname|pick(fqdns)|mkprinc(mapr_host_principal) }}
kinit -kt /opt/mapr/conf/mapr.keytab -c /tmp/hue_krb5_ccache {{ hostname|pick(fqdns)|mkprinc(http_host_principal) }}
kinit -kt /opt/mapr/conf/mapr.keytab -c /tmp/hue_krb5_ccache {{ hostname|pick(fqdns)|mkprinc(mapr_host_principal) }}

# Create proxiable ticket required for Sentry 1.7+
# kinit -kt /opt/mapr/conf/mapr.keytab -p {{mapr_cluster_name_principal}}

true
