dn: {{ ldap_base }}
objectClass: domain

dn: uid={{ ldap_user }},{{ ldap_base }}
objectClass: inetOrgPerson
uid: {{ ldap_user }}
cn: {{ ldap_user }}
sn: {{ ldap_user }}
userPassword: {{ ldap_user_password }}

dn: uid=mapr,{{ ldap_base }}
objectClass: inetOrgPerson
uid: mapr
cn: mapr
sn: mapr
userPassword: mapr