{{ base_dn.stdout_lines[0] }}
replace: olcSuffix
olcSuffix: {{ ldap_base }}

{{ base_dn.stdout_lines[0] }}
replace: olcRootDN
olcRootDN: cn={{ ldap_admin }},{{ ldap_base }}

{{ base_dn.stdout_lines[0] }}
replace: olcRootPW
olcRootPW: {{ ldap_admin_password }}

{{ access_dn.stdout_lines[0] }}
add: olcAccess
olcAccess: {1}to * by self write by dn="cn={{ ldap_admin }},{{ ldap_base }}" write by * read