[mongodb-org-4.2]
name=MongoDB Repository
baseurl = {{ mongo_repo[ansible_os_family][ansible_distribution_major_version] }}
gpgcheck=1
enabled=1
gpgkey=https://www.mongodb.org/static/pgp/server-4.2.asc
