{% if mapr_eco_version >= 'MEP300' %}
  {% set hive_server2_session_hook = 'org.apache.sentry.binding.hive.v2.HiveAuthzBindingSessionHookV2' %}
  {% set hive_security_authorization_task_factory = 'org.apache.sentry.binding.hive.v2.SentryHiveAuthorizationTaskFactoryImplV2' %}
  {% set hive_metastore_rawstore_impl = 'org.apache.sentry.binding.hive.v2.metastore.AuthorizingObjectStoreV2' %}
  {% set hive_metastore_pre_event_listeners = 'org.apache.sentry.binding.hive.v2.metastore.MetastoreAuthzBindingV2' %}
  {% set hive_metastore_event_listeners = 'org.apache.sentry.binding.hive.v2.metastore.SentryMetastorePostEventListenerV2' %}
{% else %}
  {% set hive_server2_session_hook = 'org.apache.sentry.binding.hive.HiveAuthzBindingSessionHook' %}
  {% set hive_security_authorization_task_factory = 'org.apache.sentry.binding.hive.SentryHiveAuthorizationTaskFactoryImpl' %}
  {% set hive_metastore_rawstore_impl = 'org.apache.sentry.binding.metastore.AuthorizingObjectStore' %}
  {% set hive_metastore_pre_event_listeners = 'org.apache.sentry.binding.metastore.MetastoreAuthzBinding' %}
  {% set hive_metastore_event_listeners = 'org.apache.sentry.binding.metastore.SentryMetastorePostEventListener' %}
{% endif %}

  <property>
    <name>hive.server2.session.hook</name>
    <value>{{ hive_server2_session_hook }}</value>
  </property>

  <property>
    <name>hive.sentry.subject.name</name>
    <value>mapr</value>
  </property>

  <property>
    <name>hive.sentry.conf.url</name>
    <value>file:///opt/mapr/sentry/sentry-site.xml</value>
  </property>

  <property>
    <name>hive.security.authorization.task.factory</name>
    <value>{{ hive_security_authorization_task_factory }}</value>
  </property>

  <property>
    <name>hive.metastore.rawstore.impl</name>
    <value>{{ hive_metastore_rawstore_impl }}</value>
  </property>

  <property>
    <name>hive.metastore.filter.hook</name>
    <value>org.apache.sentry.binding.metastore.SentryMetaStoreFilterHook</value>
  </property>

  <property>
    <name>hive.server2.enable.doAs</name>
    <value>false</value>
  </property>

  <property>
    <name>hive.metastore.execute.setugi</name>
    <value>true</value>
  </property>

  <property>
    <name>hive.internal.ss.authz.settings.applied.marker</name>
    <value>true</value>
  </property>

  <property>
    <name>hive.metastore.pre.event.listeners</name>
    <value>{{ hive_metastore_pre_event_listeners }}</value>
  </property>

  <property>
    <name>hive.metastore.event.listeners</name>
    <value>{{ hive_metastore_event_listeners }}</value>
  </property>


{% if mapr_eco_version >= 'MEP300' %}

  <property>
    <name>hive.security.authorization.manager</name>
    <value>org.apache.sentry.binding.hive.v2.SentryAuthorizerFactory</value>
  </property>

  <property>
    <name>hive.security.authenticator.manager</name>
    <value>org.apache.hadoop.hive.ql.security.SessionStateUserAuthenticator</value>
  </property>

  <property>
    <name>hive.security.authorization.enabled</name>
    <value>true</value>
  </property>

{% else %}

  <property>
    <name>hive.support.concurrency</name>
    <value>true</value>
  </property>

  <property>
    <name>hive.zookeeper.client.port</name>
    <value>5181</value>
  </property>

  <property>
    <name>hive.zookeeper.quorum</name>
    <value>{{ packages_core.zookeeper.host|first_host }}</value>
  </property>

{% endif %}