---
    # ********************
    # *** Hive section ***
    # ********************
  - name: Configure Hive
    include: configure_hive.yml
    when: (hostname in packages_eco.hive.host)  


  - name: Configure YARN Mode
    include: configure_yarn.yml   

  - name: Clone tests
    shell: git clone -b ats-230-jenkins-hive --depth 1 --single-branch https://c06048acc56b0ab1037f3db53ef2a15267a9ad9e@github.com/mapr/private-qa.git
    become: true
    become_user: mapr

  - name: Configure wheel group
    shell: sed -i '/pam_wheel.so/s/^#//g' /etc/pam.d/su

  - name: Configure ssh config
    shell: sed -i 's/#   StrictHostKeyChecking ask/ StrictHostKeyChecking no/g' /etc/ssh/ssh_config