<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Live Stream</title>
</head>
<body>

<div>
    <table border="1" id="streamtable">
        <tr align="left">
            <th>Model</th>
            <th>Brand</th>
            <th>Year</th>
            <th>Race</th>
            <th>Engine</th>
            <th>Price USD</th>
            <th>Prediction</th>
            <th>Publication date</th>
        </tr>
    </table>
</div>


<script src="streamreader.js"></script>
</body>


</html>