<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Train new model</title>
</head>
<body>
<a href="/home">Home</a><br>

Training dataset location:
<form action="/trainmodel" method="post">
    <input name="trainingDataSetPath" th:value="'http://'+
    ${@elasticConfiguration.getHost()}+':'+${@elasticConfiguration.getPort()}+'/'+
    ${@elasticConfiguration.getIndex()}+'/'+${@elasticConfiguration.getType()}" type="text"><br>
    Limit size:
    <input name="sourceLimit" type="text" value="100"><br>
    ML Iterations:
    <input name="MLiterations" type="text" value="1000"><br>

    <input type="submit" value="Train new model">
</form>

<div th:if="${modelTrained!=null}">Model successfully trained and evaluated:
    <h5 th:text=${modelTrained}>Status</h5>

    <div>
    <form action="/applymodel" method="post">
    <input type="submit" value="Save and Deploy">
    </form>
    </div>
</div>

<div th:if="${modelApplied=='true'}">Model successfully saved and deployed</div>

</body>
</html>