<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Train new model</title>
</head>
<body>
<a href="/home">Home</a><br>

Current model is:
<h5 th:text=${currentModelDeployed}></h5>

Training dataset location:
<form action="/trainmodel" method="post">
    <input name="trainingDataSetPath" th:value="'http://'+
    ${@elasticConfiguration.getHost()}+':'+${@elasticConfiguration.getPort()}+'/'+
    ${@elasticConfiguration.getIndex()}+'/'+${@elasticConfiguration.getType()}" type="text"><br>
    Limit size:
    <input name="sourceLimit" type="text" value="100"><br>
    ML Iterations:
    <input name="MLiterations" type="text" value="1000"><br>

    <input type="submit" value="Train new model">
</form>



<div th:if="${modelTrained!=null}">Model successfully trained and evaluated:
    <h5 th:text=${modelTrained}></h5>

    <div>
        <form action="/savemodel" method="post">
            New model name:
            <input name="newmodelname" type="text" value="model_name"><br>
            <input type="submit" value="Save">
        </form>
    </div>
</div>

<div th:if="${modelSaved=='true'}">Model successfully saved
    <div>
        <form action="/deploymodel" method="post">
            Deploy new model:
            <input type="submit" value="Deploy">
        </form>
    </div>
</div>

<div th:if="${DeployStatus==200}">Model has been successfully deployed!
    <h5 th:text=${DeployMessage}></h5>
</div>

<div th:if="${DeployStatus==404}">Something went wrong! Model is not deployed.
    <h5 th:text=${DeployMessage}></h5>
</div>

</body>
</html>