CREATE DATABASE sqoop;
USE sqoop;
CREATE TABLE sqoop (sid INT, data VARCHAR(100));
ALTER TABLE sqoop  ADD PRIMARY KEY (sid)  ;
INSERT INTO sqoop (sid, data) VALUES (1, 'Batman');
INSERT INTO sqoop (sid, data) VALUES (21, 'Superman');
INSERT INTO sqoop (sid, data) VALUES (14, 'Iron man');
INSERT INTO sqoop (sid, data) VALUES (31, 'Hulk');
INSERT INTO sqoop (sid, data) VALUES (431, 'Quicksilver');
INSERT INTO sqoop (sid, data) VALUES (11, 'Flash');
INSERT INTO sqoop (sid, data) VALUES (3211, 'Doctor Strange');
INSERT INTO sqoop (sid, data) VALUES (39, 'Captain America');
INSERT INTO sqoop (sid, data) VALUES (321, 'Spiderman');
